<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eduardocruzproductions.myclothesstock">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="my_data_docs.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="eduardocruzproductions.myclothesstock" />

        <activity
            android:name=".Main"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadProduto"
            android:label="@string/title_activity_cad_produto"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eduardocruzproductions.myclothesstock.Main" />
        </activity>
        <activity
            android:name=".InsertGrade"
            android:label="@string/title_activity_insert_grade"
            android:parentActivityName=".CadProduto"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eduardocruzproductions.myclothesstock.CadProduto" />
        </activity>
        <activity
            android:name=".CadCliente"
            android:label="@string/title_activity_cad_cliente"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eduardocruzproductions.myclothesstock.Main" />
        </activity>
        <activity
            android:name=".ActivityVenda"
            android:label="@string/title_activity_venda"
            android:parentActivityName=".Main"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eduardocruzproductions.myclothesstock.Main" />
        </activity>
    </application>

</manifest>